<div class="container">
    <h2>Progress Indicator</h2>
    <form (submit)="startProgress($event)">
        <label for="radius">Radius</label>
        <input type="number" id="radius" name="radius" [(ngModel)]="radius" />
        <br>
        <label for="time">Radius</label>
        <input type="number" id="time" name="time" [(ngModel)]="time" />
        <br>
        <button type="submit">Submit</button>
    </form>
    <div class="grid">
        <t-progress [radius]="radius" [progress]="progress" color="#6c7ae0">
        </t-progress>
    </div>
    <button class="stop" (click)="handleStop()" *ngIf="showStopButton">Stop</button>
</div>
