<div class="container">
    <h2>Table View</h2>
    <div class="grid">
        <t-grid [data]="solves"
            [sortable]="true"
            [pageSize]="20"
            (sortChange)="onSortChange($event)"
            (paginationChange)="onPaginationChange($event)"
        >
            <t-column [name]="'Solve number'"
                [property]="'no'"
                [sortable]="true"></t-column>
            <t-column [name]="'Time'"
                [property]="'time'"
                [sortable]="true"></t-column>
            <t-column [name]="'Scramble'"
                [property]="'scramble'"
                [sortable]="false"></t-column>
        </t-grid>
    </div>
</div>
