.timer {
    margin-top: 40px;
}

.time {
    font-family: lcd;
    font-size: 160px;
    text-align: center;
}

.timer.big .time {
    font-size: 200px;
}

.time[data-state='Initializing'] {
    color: red;
}

.time[data-state='ReadyToStart'] {
    color: green;
}

.table {
    width: 300px;
    height: 200px;

    margin: 0 auto;
}
