<ng-content></ng-content>
<table class="grid">
    <thead class="grid-header">
        <tr class="header-row">
            <th class="header-column" *ngFor="let column of columnDefinitions">{{ column.name }}</th>
        </tr>
    </thead>
    <tbody class="grid-content">
        <tr class="content-row" *ngFor="let item of data">
            <td class="content-column" *ngFor="let column of columnDefinitions">
                {{ item[column.property] }}
            </td>
        </tr>
    </tbody>
</table>
