<!-- <ng-content></ng-content> -->
<div class="grid">
    <div class="options">
        <div class="select">
            <label for="pageSize">Page Size:</label>
            <select name="pageSize" id="pageSize" (change)="handlePageSizeSelect($event)">
                <option value="-1" [selected]="selectedPageSize === null">All</option>
                <option value="10" [selected]="selectedPageSize === 10">10</option>
                <option value="20" [selected]="selectedPageSize === 20">20</option>
                <option value="50" [selected]="selectedPageSize === 50">50</option>
                <option value="100" [selected]="selectedPageSize === 100">100</option>
            </select>
        </div>
        <div class="stats">
            <p class="stats-message">Showing from <b>{{firstVisibleRecordNumber}}</b> to <b>{{lastVisibleRecordNumber}}</b> of {{totalRecords}} entries</p>
        </div>
    </div>
    <div class="table-wrapper">
        <t-table-view
            [data$]="visibleData$"
            [columnDefinitions]="columnDefinitions"
            (columnHeaderClicked)="handleHeaderColumnClick($event)"
        >
        </t-table-view>
    </div>
    <div class="table-paginator">
        <t-paginator
            [total]="totalRecords"
            [currentPage]="currentPage"
            [pageSize]="selectedPageSize"
            (requestPage)="handleRequestPage($event)"
        ></t-paginator>
    </div>
</div>
