<ul class="page-numbers">
    <li class="table-paginator-button prev"
        [ngClass]="{disabled: !hasPreviousPage}"
        (click)="handleClickPrevious($event)">
        Previous
    </li>
    <li
        class="table-paginator-button"
        *ngFor="let num of getPageRanges()"
        [ngClass]="{'page-number': num | isNotNaN, ellipsis: num | isNaN, active: num === currentPage }"
        (click)="handleClickPage($event, num)"
    >
        {{(num | isNotNaN) ? num : "..."}}
    </li>
    <li class="table-paginator-button next"
        [ngClass]="{disabled: !hasNextPage}"
        (click)="handleClickNext($event)">
        Next
    </li>
</ul>
