<table class="grid-table">
    <thead class="grid-header">
        <tr class="header-row">
            <th class="header-column"
                *ngFor="let column of columnDefinitions"
                [ngClass]="getHeaderClasses(column)"
                (click)="handleHeaderColumnClick($event, column)"
            >
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody class="grid-content">
        <tr class="content-row" *ngFor="let item of data$ | async">
            <td class="content-column"
                *ngFor="let column of columnDefinitions">
                {{ item[column.property] }}
            </td>
        </tr>
    </tbody>
</table>
