<main class="container">
    <h2>Autocomplete Input</h2>

    <section class="autocomplete">
        <autocomplete-input
            [minimumSearchLentgh]="2"
            [source$]="posts$"
            [searchPredicate]="(isValidForAutocompletion)"
            (onItemSelected)="handleSuggestionItemClick($event)"
            >

            <ng-template let-item="item">
                <autocomplete-suggestion-item
                    [title]="item.title"
                    [body]="item.body"
                >

                </autocomplete-suggestion-item>
            </ng-template>

        </autocomplete-input>
    </section>

    <section class="added-items-list">
        <ul *ngIf="!!(addedItems$ | async)?.length; else emptyAddedList">
            <li *ngFor="let item of (addedItems$ | async)">
                <h4>{{item.title}}</h4>
                <p>{{item.body}}</p>
            </li>
        </ul>
    </section>
</main>

<ng-template #emptyAddedList>
    <p>Empty List</p>
</ng-template>
