.container {
    padding: 3rem;
    text-align: center
}

.autocomplete {
    margin: 0 40px;
}

.input {
    display: flex;
    margin: 0 auto;

    border: 1px solid #c0bfc3;
    transition: border-color 0.3s;

    position: relative;
}

.input:hover {
    border-color: #4856b7;
}

.autocomplete-input {
    width: 100%;
    padding: 1em 1em;
    font-size: 1.2em;
    line-height: 1.5;
    border: none;
}

.button-search {
    padding: 1.5em 2em;
    font-size: 1.2em;
    border-radius: 0;
    border: none;


    color: white;
    background-color: #4856b7;
    transition: background-color 0.3s;
    margin: -1px;
}

.button-search:hover {
    background-color: #6c7ae0;
    cursor: poitner;
}

.suggestions {
    position: absolute;

    overflow: scroll;
    max-height: 300px;
    top: 100%;

    box-shadow: 0px 2px 7px -3px;
}

.suggestions > ul {
    padding: 0;
    text-align: left;
}

.suggestions > ul > li {
    list-style: none;
    padding: 16px;
}

.suggestions > ul > li:nth-child(even) {
    background-color: #f8f6ff;
}

.suggestions .title {
    font-weight: 600;
}
