<main class="container">
    <h2 class="main-header">Demos</h2>
    <section class="tasks">
        <a class="card-link" [routerLink]="['./table-grid']">
            <t-card
                [title]="'Table Grid'"
                [description]="'Demo of reusable table grid component displaying the Rubik\'s cube solving times'"
                [backgroundImage]="'assets/table-grid.png'"
            >
            </t-card>
        </a>
        <a class="card-link" [routerLink]="['./progress-indicator']">
            <t-card
                [title]="'Progress Indicator'"
                [description]="'Demo of reusable progress indicator'"
                [backgroundImage]="'assets/progress-indicator.png'"
            >
            </t-card>
        </a>
        <a class="card-link" [routerLink]="['./autocomplete']">
            <t-card
                [title]="'Autocomplete input'"
                [description]="'Demo of Autocomplete input'"
            >
            </t-card>
        </a>
        <a class="card-link" [routerLink]="['./timer']">
            <t-card
                [title]="'Speedcube Timer'"
                [description]="'Demo of Speedcube timer'"
            >
            </t-card>
        </a>
    </section>
</main>
